* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
  padding: 100px 0;
}

.container h1 {
  width: 400px;
  box-sizing: border-box;
  padding: 20px 15px 0;
  text-align: right;
  background-color: #d5c7b9;
}

.container h1::after {
  content: "";
  display: block;
  height: 4px;
  width: 4em;
  background-color: #000;
  margin-left: auto;
}

.container .txt {
  width: 800px;
  box-sizing: border-box;
  padding: 0 15px;

  /* 
  column-count
  這屬性只要直接填入數值即可，用來定義欄位數量。

  column-width
  column-count及column-width只能二擇一，前者是直接定義欄位數量，後者則是定義欄位寬度。
  */
  column-count: 2;
  column-gap: 30px;
}
