@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:wght@300;700;900&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");


* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
}

.container {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100px;
}

.main-header {
  background: linear-gradient(0deg, #cc4380, #fb6c75);

  .logo {
    width: 100px;
    position: absolute;

    img {
      width: 100%;
      vertical-align: middle;
    }
  }

  .main-nav {
    // margin: auto; 把剩餘的空間都給 main-nav 的上下左右
    margin: auto;
    // 方法2
    // display: flex;

    a {
      width: 160px;
      text-decoration: none;
      color: #fff;
      padding: 5px 1em;
      position: relative;
      transform: translateY(0px);
      transition: .3s;
      // 沒作用的原理是因為超連結為inline特性 
      // 而transform不適用於inline特性
      display: inline-block;
      // 在外層(nav) 加上 display: flex 把直屬的子元素 轉換為 flex 屬性 也是可以 
    }
    a:nth-child(3){
      margin-left: 140px;
    }
    a::after{
      content: '';
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: -5px;
      height: 0;
      border-bottom: 1px solid #fff;
      transition: .3s;
    }
     a:hover{
       transform: translateY(-5px);
    }
    a:hover::after{
      left: 0;
      right: 0;
    }
  }

}