* {
  padding: 0;
  margin: 0;
  list-style: none;
}
img{
  vertical-align: middle;
}

.footer {
  background: #333;
  color: #aaa;
  text-align: center;
  padding: 10px 0;
}

.item-group {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.banner {
  img {
    width: 100%;
  }
}

.title {
  margin: 0 0px 20px;
  padding: 30px 10px;
  background: #ccc;

  h2 {
    text-align: center;
    font-size: 46px;
  }

  p {
    font-size: 22px;
    text-align: center;
  }
}

.item {
  margin: 0 10px 40px;

  h3 {
    font-size: 24px;
    text-align: center;
  }
  p{
    text-align: center;
  }
}

.item {
  .pic {
    img {
      width: 100%;
    }
  }
}

.service{
  margin: 60px 0;
  background: #ffa;
  .item{
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .item-group {
    display: flex;
  }

  .service {
    .item {
      display: flex;
      .pic, .txt{
        width: 50%;
        margin: 0;
      }
      .txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        box-sizing: border-box;
      }
    }
  }
}